<% provide(:title, 'GenePainter') %>
<%= content_tag(:h1, "Data Upload") %>
<%= content_tag(:h2, "Multiple Sequence Alignment") %>
<p>Nothing here yet</p>

<%= content_tag(:h2, "Gene Structures") %>
<p>Nothing here yet</p>

<%= content_tag(:h2, "Species Mapping") %>
<p>Nothing here yet</p>

<%= content_tag(:h1, "Data Center") %>
<p>Nothing here yet</p>

<%= content_tag(:h1, "Aligned Gene Structures") %>
<%= content_tag(:h2, "Text-based Representation") %>
<p>Nothing here yet</p>

<%= content_tag(:h4, "View Options") %>
<p>Nothing here yet</p>

<%= content_tag(:h2, "Graphical Represetation") %>
<p>Nothing here yet</p>

<%= content_tag(:h4, "View Options") %>
<p>Nothing here yet</p>

<%= content_tag(:h1, "Phylogenetic Distribution of Intron Positions") %>
<p>Nothing here yet</p>

<%= content_tag(:h1, "Download") %>
<p>Nothing here yet</p>
