<% provide(:title, 'GenePainter') %>

<%= content_tag(:h1, "Data Upload") %>
<%= render :partial => "gene_painter/upload/load_and_submit_example" %>

<%= content_tag(:h2, "Multiple Sequence Alignment") %>
<%= render :partial => "gene_painter/upload/multiple_sequence_alignment" %>

<%= content_tag(:h2, "Gene Structures") %>
<%= render :partial => "gene_painter/upload/gene_structures" %>

<%= content_tag(:h2, "Species Mapping", :class => "species_mapping_heading") %>
<%= render :partial => "gene_painter/upload/species_mapping" %>

<%= content_tag(:h1, "Data Center", :style => "margin-top: 10px;") %>
<p class='default-text' id='t_data_center'>
	No data provided.
</p>
<div id="b_data_center" style="display: none">
	<%= render(partial: "gene_painter/upload/data_center") %>
</div>

<%= content_tag(:h1, "Aligned Gene Structures") %>
<p class='default-text' id='t_aligned_gene_structures'>
	No data provided.
</p>

<%= content_tag(:h1, "Phylogenetic Distribution of Intron Positions") %>
<p class='default-text' id='t_phylotree'>
	No data/species information provided.
</p>

<%= content_tag(:h1, "Download") %>
<p class='default-text' id="t_download">
	No data provided.
</p>
