<% provide(:title, 'GenePainter') %>
<%= content_tag(:h1, "Data Upload") %>
<%= content_tag(:h2, "Multiple Sequence Alignment") %>

<%= content_tag(:b, "Enter accession number(s), gi(s), or FASTA sequence(s)") %>

<%= image_tag("icons/help.png", :class => "help text_seq_help") %>

<%=render :partial => "gene_painter/text_seq_help"%>

<%= javascript_tag defer: 'defer' do -%>
  create_alignment_file_ajax();

  $("img.text_seq_help").click(function() {
     $("div#text_seq_help").toggle("slow");
  });

  var $textArea = $('textarea#text_seq');

  // This is to disable upload button when there is input
  // in textarea which also has to have the correct format
  $textArea.blur(function(){
    var helpIsVisible = $('div#text_seq_help').is(':visible');

    if (! helpIsVisible) {
      if (this.value.length > 0) {
        $('input#sequence_uploader').prop('disabled', ! helpIsVisible);
      }
    } else {
      $('input#sequence_uploader').removeAttr('disabled');
    }
  });
<% end -%>

<%= content_tag(:textarea, nil, :id => "text_seq", :placeholder => "Enter FASTA sequence(s)", :cols => 80, :rows => 5, :style => "margin-top: 5px; width: 723px;") %>

<%= tag(:br) %>

<%= content_tag(:label, content_tag(:b, "Or upload file")) %>

<!-- TODO: Only accept some file extensions. bug??-->
<%= file_field_tag("sequence_uploader",
  :name => "files[]",
  # :multiple => true
  :data => {url: post_upload_sequence_path}
  )
%>

<%= content_tag(:span,
  "No file uploaded",
  :class => "filename",
  :id => "uploaded_sequence") %>

<%= image_tag("icons/help.png", :class => "help upload_seq_help") %>

<%=render :partial => "gene_painter/upload_seq_help"%>

<%= javascript_tag defer: 'defer' do -%>
  set_up_fileupload("#sequence_uploader");

  $("img.upload_seq_help").click(function() {
     $("div#upload_seq_help").toggle("slow");
  });

  var $inputSequenceUploader = $('input#sequence_uploader'),
    $textArea = $('textarea#text_seq');
  $inputSequenceUploader.change(function(){
    $textArea.prop('disabled', true);
  });
<% end -%>

<%= content_tag(:h2, "Gene Structures") %>
<%= content_tag(:label, content_tag(:b, "Upload files")) %>

<!-- TODO: Only accept some file extensions -->
<%= file_field_tag("gene_structures_uploader",
  :name => "files[]",
  :multiple => true,
  :disabled => "disabled",
  :data => {url: post_upload_gene_structures_path}
  )
%>

<%= content_tag(:span,
  "No files uploaded",
  :class => "filename",
  :id => "uploaded_gene_structures") %>

<%= image_tag("icons/help.png", :class => "help upload_gene_struct_help") %>

<%= render :partial => "gene_painter/upload_gene_struct_help"%>

<%= javascript_tag defer: 'defer' do -%>
  set_up_fileupload("#gene_structures_uploader");

  $('input#gene_structures_uploader').click(function() {
    $('span#uploaded_gene_structures').text('No files uploaded');
  });

  $("img.upload_gene_struct_help").click(function() {
     $("div#upload_gene_struct_help").toggle("slow");
  });
<% end -%>

<%= content_tag(:p,
  content_tag(:b, "Or generate gene structures for selected sequences (Data Center)"))
%>

<%= content_tag(:h2, "Species Mapping", :class => "species_mapping_heading") %>

<%= content_tag(:div, nil,
  :class => "add_species_input",)
%>

<%= button_tag("Add species",
  :id => "btnAddSpecies",
  :disabled => true) %>

<%= content_tag(:div,
  content_tag(:label, content_tag(:b, "Or upload file")) +
  file_field_tag("species_mapping_uploader",
    :name => "files[]",
    :multiple => true,
    :data => {url: post_upload_species_mapping_path},
    :disabled => true,
    :style => "margin-top: 10px;"
    ) +
  content_tag(:span,
    "No file uploaded",
    :class => "filename",
    :id => "uploaded_species_mapping") +
  image_tag("icons/help.png", :class => "help upload_species_mapping_help")
  )
%>

<%= render :partial => "gene_painter/upload_species_mapping_help"%>

<%= javascript_tag defer: 'defer' do -%>
  set_up_fileupload("#species_mapping_uploader");

  $("img.upload_species_mapping_help").click(function() {
     $("div#upload_species_mapping_help").toggle("slow");
  });
<% end -%>

<%= content_tag(:h1, "Data Center", :style => "margin-top: 10px;") %>
<p class='default-text' id='t_data_center'>
  No data provided.
</p>
<div id="b_data_center" style="display: none">
  <%= render :partial => "gene_painter/data_center"%>
</div>

<%= content_tag(:h1, "Aligned Gene Structures") %>
<p class='default-text' id='t_aligned_gene_structures'>
  No data provided.
</p>
<div id="b_aligned_gene_structures" style="display: none">
  <%= render :partial => "gene_painter/aligned_gene_structures/aligned_gene_structures"%>
</div>

<%= content_tag(:h1, "Phylogenetic Distribution of Intron Positions") %>
<p class='default-text' id='t_phylotree'>
  No data/species information provided.
</p>
<%= render :partial => "gene_painter/phylotree"%>

<%= content_tag(:h1, "Download") %>
