// hide loading screen
hide_show_waiting('show'); // this is rather idiotic, but neccessary until hide_show_waiting_bug is fixed!
hide_show_waiting('hide');

<% if @fatal_error.blank? && @seq_names.any? then %>

  // hide help
  $("div#upload_seq_help").hide();

  // handle file upload or input of text-field
  if ( !$('#text_seq').val() ) {
    // was file upload

    // update name of uploaded file
    $('#uploaded_sequence').html('<%= @basename %>');
    // disable input text-field
    disable($('#text_seq'), true);
  }
  else {
    // was input of text-field
    // disable upload button
    disable($('#sequence_uploader'), true);
  }

  // update name of uploaded file
  $('#uploaded_sequence').html('<%= @basename %>');

  // enable button and uploaders
  $('#gene_structures_uploader').prop('disabled', false);
  $('#species_mapping_uploader').prop('disabled', false);
  $('#pdb_uploader').prop('disabled', false);
  $('input#map_to_another_species').prop('disabled', false);

  <% @seq_names.each do |name| %>
    $("div#manual_mapping").find("div#headers").append("<label><input type='checkbox' name='<%= name %>' value='<%= name %>'><%= name %></label><br>");
  <% end %>

  // sort headers;
  var newLabels = $("div#manual_mapping").find("div#headers").find('label').map(function(index, elem){
                    return $(elem).find('input')[0].value;
                  }).sort();

  $("div#manual_mapping").find("div#headers").html("");
  _.each(newLabels, function(label) {
    $("div#manual_mapping").find("div#headers").append('<label><input type="checkbox" value="' + label + '">' + label + '</label><br>');
  });

  // Initial data center table
  var $dataTableBody = $($('div#data_table').find('tbody')[0]);
  $dataTableBody.html('');
  $dataTableBody.append('<%= create_data_center_table(@seq_names).html_safe %>');

  // Show data center
  $('p#t_data_center').hide("slow");
  $('div#b_data_center').show("show");

  $("input#species").removeAttr("disabled");
  $("div#unlink_genes").show();

<% else%>
  error('<%=raw(@fatal_error)%>');

  // toggle help for upload or input
  if ( !$('#text_seq').val() ) {
    // was file upload
    $("div#upload_seq_help").show('slow');
  }
  else {
    // was input of text-field
    $("div#text_seq_help").show('slow');
  }

<% end %>
