<% require 'gene_painter_helper.rb' %>
<% if @fatal_error.blank? then %>
  <% if @seq_names.length > 0 %>
    // hide loading screen
    hide_show_waiting('hide');

    // update name of uploaded file
    $('#uploaded_sequence').html('<%= @basename %>');

    // enable button and uploaders
    $('#gene_structures_uploader').prop('disabled', false);
    $('#species_mapping_uploader').prop('disabled', false);
    $('input#map_to_another_species').prop('disabled', false);

    <% controller.seq_names.each do |name| %>
      $("div#manual_mapping").find("div#headers").append("<label><input type='checkbox' name='<%= name %>' value='<%= name %>'><%= name %></label><br>");
    <% end %>

    // Initial data center table
    var $dataTableBody = $($('div#data_table').find('tbody')[0]);
    $dataTableBody.html('');
    $dataTableBody.append('<%= create_data_center_table(controller.seq_names).html_safe %>');

    // Show data center
    $('div#b_data_center').toggle("slow");
    $('p#t_data_center').toggle("slow");

  <% end %>
<% else%>
  hide_show_waiting('hide');
  alert('Error occurred.');

  // toggle help
  $("div#upload_seq_help").show('slow');
<% end %>
