<div id="tabs" style='margin-bottom: 15px;'>
  <ul>
    <li><a href="#tabs-1">Intron Alignment</a></li>
    <li><a href="#tabs-2">Protein Alignment</a></li>
    <li><a href="#tabs-3">Nucleotide Alignment</a></li>
    <li id="tab-intron-history"><a href="#tabs-5">Intron History</a></li>

  </ul>
  <div id="tabs-1">
    <%= render :partial => "gene_painter/results/aligned_gene_structures/text_based_representation"%>
  </div>
  <div id="tabs-2">
    <%= render :partial => "gene_painter/results/aligned_gene_structures/alignment_representation"%>
  </div>
  <div id="tabs-3">
    <%= render :partial => "gene_painter/results/aligned_gene_structures/graphical_representation"%>    
  </div>
  <div id="tabs-5">
    <%= render :partial => "gene_painter/results/aligned_gene_structures/statistics" %>
  </div>
</div>

<%= javascript_tag defer: 'defer' do -%>
  $(function() {
    $( "#tabs" ).tabs();
  });
<% end -%>
