<div style="clear: both">
	<div class="file-upload-button">
		<%= content_tag(:label, content_tag(:b, "Upload files")) %>

		<%= file_field_tag("gene_structures_uploader",
			:name => "files[]",
			:multiple => true,
			:disabled => "disabled",
			:accept => ".yaml,.gff",
			:data => {url: post_upload_gene_structures_path}
			)
		%>
	</div>
	<div class="file-upload-file">
		<%= content_tag(:span,
			"No files uploaded",
			:class => "filename",
			:id => "uploaded_gene_structures") %>

		<%= image_tag("icons/help.png", :class => "help upload_gene_struct_help") %>
	</div>
	<div>
		<script defer>
			function load_sample_gene_structures(kind) {
				hide_show_waiting('show');

				$.ajax({
					type: 'POST',
					url: build_ajax_path('/upload_gene_structures'),
					data: {'is_example': true, 'sample_data': kind},
				});
			}
		</script>
	</div>
</div>

<div style="clear: both">
	<%= render :partial => "gene_painter/help/upload_gene_struct_help"%>
</div>

<%= javascript_tag defer: 'defer' do -%>
	set_up_fileupload("#gene_structures_uploader");

	$("img.upload_gene_struct_help").click(function() {
		 $("div#upload_gene_struct_help").toggle("slow");
	});
<% end -%>

<p><b>Or generate gene structures for selected sequences (Data Center)</b></p>
