<div style="clear: both">
	<%= render :partial => "gene_painter/help/genestruct_info"%>
</div>
<div style="clear: both">
	<div class="file-upload-button">
		<%= content_tag(:label, content_tag(:b, "Upload files")) %>

		<%= 
		form_tag(post_upload_gene_structures_path, remote: true, :id => "genestructForm") do
			file_field_tag("gene_structures_uploader",
				:name => "files[]",
				:multiple => true,
				:disabled => "disabled",
				:accept => ".yaml,.gff",
				:data => {url: post_upload_gene_structures_path, authenticity_token: form_authenticity_token}
			) +
			hidden_field_tag(:authenticity_token, form_authenticity_token) +
			hidden_field_tag(:is_example, false, :id => "genestruct_form_is_example") +
			hidden_field_tag(:sample_data, "", :id => "genestruct_form_sample_data")

		end
		%>
	</div>
	<div class="file-upload-file">
		<%= content_tag(:span,
			"No files uploaded",
			:class => "filename",
			:id => "uploaded_gene_structures") %>

		<%= image_tag("icons/help.png", :class => "help upload_gene_struct_help") %>
	</div>
</div>

<div style="clear: both">
	<%= render :partial => "gene_painter/help/upload_gene_struct_help"%>
</div>
<%= 
	content_tag(:div, 
		content_tag(:p, 
			content_tag(:label, content_tag(:b, "View uploaded file")) +
			image_tag("icons/down.png", :class => "help uploaded_genestruct_info")
		) +
		# same structure as help-partials!
		content_tag(:div, 
			content_tag(:span, "", 
				:class => "ui-icon ui-icon-closethick warning_close", 
				:style => "display:inline-block;",
				:onclick => "$('#uploaded_genestruct_info').hide('slow');"
			) +		
			content_tag(:div, 
				nil,
				:id => "uploaded_genestruct_list"
			) +
			content_tag(:textarea, nil, 
				:id => "uploaded_genestruct_content", 
				:class => "spacer disabled_textarea",
				:placeholder => "Gene structure as part of the uploaded files", 
				:cols => 80, :rows => 15, 
				:readonly => true,
			),
			:id => "uploaded_genestruct_info",
			:style => "display:none"
		),
		:class => "genestruct-upload-viewer",
		:style => "display:none;"
	)	
%>

<p><b>Or generate gene structures for selected sequences (Data Center)</b></p>

<%= javascript_tag defer: 'defer' do -%>
	set_up_fileupload("#gene_structures_uploader");

	$("img.upload_gene_struct_help").click(function() {
		 $("div#upload_gene_struct_help").toggle("slow");
	});
	$("img.uploaded_genestruct_info").click(function() {
		 $("div#uploaded_genestruct_info").toggle("slow");
	});
<% end -%>