<div style="clear: both">
	<%= render :partial => "gene_painter/help/pdb_info"%>
</div>
<p style="clear: both">
	<div class="file-upload-button">
		<%= content_tag(:label, content_tag(:b, "Upload file")) %>

		<%= 
		form_tag(post_upload_pdb_path, remote: true, :id => "sequenceUploadedForm") do
			file_field_tag("pdb_uploader",
				:name => "file",
				:multiple => false,
				:disabled => "disabled",
				:accept => ".pdb",
				:data => {url: post_upload_pdb_path, authenticity_token: form_authenticity_token}
			) +
			hidden_field_tag(:authenticity_token, form_authenticity_token)
		end
		%>
	</div>
	<div class="file-upload-file">
		<%= content_tag(:span,
			"No file uploaded",
			:class => "filename",
			:id => "uploaded_pdb") %>

		<%= image_tag("icons/help.png", :class => "help upload_pdb_help") %>
	</div>
	<div>
		<script defer>
			function load_sample_pdb(kind) {
				hide_show_waiting('show');
				var authenticity_token = $('meta[name=csrf-token]').attr('content');
				$.ajax({
					type: 'POST',
					url: build_ajax_path('/upload_pdb'),
					data: {'is_example': true, 'sample_data': kind, "authenticity_token": authenticity_token},
				});
			}
		</script>
	</div>
</p>

<div style="clear: both">
	<%= render :partial => "gene_painter/help/upload_pdb_help"%>
</div>

<div class="pdb-upload-viewer" style="display:none;">
	<p>
		<%= content_tag(:label, content_tag(:b, "View uploaded file")) %>	
		<%= image_tag("icons/down.png", :class => "help uploaded_pdb_info") %>
	</p>
	<%=
	# same structure as help-partials!
	content_tag(:div, 
		content_tag(:span, "", 
			:class => "ui-icon ui-icon-closethick warning_close", 
			:style => "display:inline-block;",
			:onclick => "$('#uploaded_pdb_info').hide('slow');"
		) +		
		content_tag(:textarea, nil, 
			:id => "uploaded_pdb_content", 
			:class => "disabled_textarea",
			:placeholder => "Species mapping as part of the uploaded file", 
			:cols => 80, :rows => 15, 
			:readonly => true
		),
		:id => "uploaded_pdb_info",
		:style => "display:none"
	)
	%>
</div>


<%= javascript_tag defer: 'defer' do -%>
	set_up_fileupload("#pdb_uploader");

	$('input#pdb_uploader').click(function() {
		$('span#uploaded_pdb').text('No file uploaded');
	});

	$("img.upload_pdb_help").click(function() {
		 $("div#upload_pdb_help").toggle("slow");
	});
	$("img.uploaded_pdb_info").click(function() {
		 $("div#uploaded_pdb_info").toggle("slow");
	});

<% end -%>
