<div style="clear: both">
	<%= render :partial => "gene_painter/help/species_mapping_info"%>
</div>
<%= render :partial => "gene_painter/upload/manual_species_mapping"%>
<p style="clear: both">
	<div class="file-upload-button">
		<%= content_tag(:label, content_tag(:b, "Or upload file ")) %>

		<%= 
		form_tag(post_upload_species_mapping_path, remote: true, :id => "speciesForm") do
			file_field_tag("species_mapping_uploader",
				:name => "files[]",
				:multiple => false,
				:accept => ".txt",
				:data => {url: post_upload_species_mapping_path, authenticity_token: form_authenticity_token},
				:disabled => true
			) +
			hidden_field_tag(:authenticity_token, form_authenticity_token) +
			hidden_field_tag(:is_example, false, :id => "species_form_is_example") +
			hidden_field_tag(:sample_data, "", :id => "species_form_sample_data")
		end
		%>
	</div>
	<div class="file-upload-file">
		<%=	content_tag(:span,
			"No file uploaded",
			:class => "filename",
			:id => "uploaded_species_mapping")
		%>

		<%= image_tag("icons/help.png", :class => "help upload_species_mapping_help") %>
	</div>
</p>

<div style="clear: both;">
	<%= render :partial => "gene_painter/help/upload_species_mapping_help"%>
</div>
<div class="file-upload-viewer" style="display:none;">
	<p>
		<%= content_tag(:label, content_tag(:b, "View uploaded file")) %>	
		<%= image_tag("icons/down.png", :class => "help uploaded_file_info") %>
		<%= image_tag("icons/up.png", :class => "help uploaded_file_info", :style => "display:none;") %>
	</p>
	<%=
	# same structure as help-partials!
	content_tag(:div, 
		content_tag(:span, "", 
			:class => "ui-icon ui-icon-closethick warning_close", 
			:style => "display:inline-block;",
			:onclick => "$('#uploaded_file_info').hide('slow'); $('img.uploaded_file_info').toggle();"
		) +		
		content_tag(:textarea, nil, 
			:id => "uploaded_file_content", 
			:class => "disabled_textarea",
			:placeholder => "Species mapping as part of the uploaded file", 
			:cols => 80, :rows => 15, 
			:readonly => true
		),
		:id => "uploaded_file_info",
		:style => "display:none"
	)
	%>
</div>

<%= javascript_tag defer: 'defer' do -%>
	set_up_fileupload("#species_mapping_uploader");

	$("img.upload_species_mapping_help").click(function() {
		 $("div#upload_species_mapping_help").toggle("slow");
	});
	$("img.uploaded_file_info").click(function() {
		 $("div#uploaded_file_info").toggle("slow");
		 $("img.uploaded_file_info").toggle();
	});
<% end -%>