<div id='graphical' class="large_div">
  <div class="res_left_col" style='width: 125px'>
    <div id='genenames' class="res_height res_names">
      <%= render_svg("genenames-normal.svg", "hide-horizontal-overflow").html_safe %>
    </div>
  </div>

  <div id='right-column'>
    <div id='genestructures' class="res_height res_names">
      <%= render_svg("genestructures-normal.svg", "normal").html_safe %>
      <%= render_svg("genestructures-reduced.svg", "reduced").html_safe %>
    </div>
  </div>

  <div id='legend' style='overflow: hidden'>
    <%= render_svg("legend-normal.svg", "normal").html_safe %>
    <%= render_svg("legend-reduced.svg", "reduced").html_safe %>
  </div>

  <div id='left-column' class="res_left_col" style='width: 125px'>
    <div id='genenames-merged' class="res_height" style='overflow: hidden'>
      <%= render_svg("genenames-normal-merged.svg", "merged-name").html_safe %>
    </div>
  </div>

  <div id='right-column'>
    <div id='genestructures-merged' class="res_height" style="overflow-y: hidden">
      <%= render_svg("genestructures-normal-merged.svg", "normal").html_safe %>
      <%= render_svg("genestructures-reduced-merged.svg", "reduced").html_safe %>

    </div>
  </div>

  <%= javascript_tag defer: 'defer' do -%>

    // simultaneously scroll up/down, left/right
    $('div#genestructures').on('scroll', function() {
      $('div#genenames').scrollTop($(this).scrollTop());
      $('div#genestructures-merged').scrollLeft($(this).scrollLeft());
    });

    $('div#genestructures-merged').on('scroll', function() {
      $('div#genestructures').scrollLeft($(this).scrollLeft());
    });

    $('div#genenames').on('scroll', function() {
      $('div#genestructures').scrollTop($(this).scrollTop());
    });
   <% end -%>

</div>

<h4>View Options</h4>
<table>
  <tr>
    <td>
      <%=
        content_tag(:div,
          radio_button_tag("graphical",
            "standard", 
            true, # checked
            :id => "standard"
          ) +
          label_tag('standard', 'Standard', :style => 'padding-left: 5px; padding-right: 20px')
          )
      %>

      <%=
        content_tag(:div,
          radio_button_tag("graphical",
            "focus_on_common_introns", 
            nil, # not checked
            :id => "focus_on_common_introns"
          ) +
          label_tag('graphical_focus_on_common_introns', 'Focus on common introns', :style => 'padding-left: 5px; padding-right: 20px')
        )
      %>
    </td>
  <tr>
</table>

<script>

  $("div.reduced").toggle();

  $("input#standard").change(function() {
    if ($(this).is(":checked")) {
      $("div.normal").toggle(true);
      $("div.reduced").toggle(false);
    }
  })

  $("input#focus_on_common_introns").change(function() {
    if ($(this).is(":checked")) {
      $("div.normal").toggle(false);
      $("div.reduced").toggle(true);
    }
  })

</script>
