<div id='graphical'>
  <div id='left-column' style='width: 125px'>
    <div id='genenames' style='overflow: hidden'>
    </div>
  </div>

  <div id='right-column'>
    <div id='genestructures' style='overflow: hidden'>
    </div>
  </div>

  <div id='legend' style='overflow: hidden'>
  </div>

  <div id='left-column' style='width: 125px'>
    <div id='genenames-merged' style='overflow: hidden'>
    </div>
  </div>

  <div id='right-column'>
    <div id='genestructures-merged'>
    </div>
  </div>

  <%= javascript_tag defer: 'defer' do -%>

    // simultaneously scroll up/down, left/right
    $('div#genestructures').on('scroll', function() {
      $('div#genestructures-merged').scrollLeft($(this).scrollLeft());
    });

    $('div#genestructures-merged').on('scroll', function() {
      $('div#genestructures').scrollLeft($(this).scrollLeft());
    });

   <% end -%>

</div>

<h4>View Options</h4>
<table>
  <tr>
    <td>
      <%=
        content_tag(:div,
          check_box_tag('standard') +
          content_tag(:span, 'Standard', :style => 'padding-left: 5px; padding-right: 20px')
          )
      %>

      <%=
        content_tag(:div,
          check_box_tag('focus_on_common_introns') +
          content_tag(:span, 'Focus on common introns', :style => 'padding-left: 5px; padding-right: 20px')
        )
      %>
    </td>
    <td style='padding-left: 100px;'>
      <div id='select_genes' style = 'display: none'>
        <span>Select gene structures for viewing</span>
        <%= image_tag("icons/popup_icon.png", :style => "cursor: pointer", :id => 'gene_selection_popup') %>

        <div id='gene_selection_dialog' title="Select Gene Structures" style="display: none">
          <p>Select maximum of 20 genes.</p>
          <div id='placeholder' style='max-height: 300px; overflow: auto'></div>
        </div>
      </div>

      <%= javascript_tag defer: 'defer' do -%>
        $('img#gene_selection_popup').click(function() {

          $('div#gene_selection_dialog').dialog({
            modal: true,
            buttons: {
              Ok: function() {
                var selected_genes = _.filter($('div#placeholder').find('input#view'), function(item) {
                  return $(item).is(':checked');
                }).map(function(item){
                  return $(item).attr('data');
                });

                if (selected_genes.length) {
                  $.ajax({
                    type: 'POST',
                    url: '/build_svg',
                    data: {'data': selected_genes},
                    dataType: 'script'
                  });
                }

                $( this ).dialog( "close" );
              }
            }
          });
        });
      <% end -%>
    </td>
  <tr>
</table>

<%= javascript_tag defer: 'defer' do -%>
  $('input#standard').prop('checked', true);
<% end -%>

<script>
  <% convert_svg_to_pngs %>

  $("div#graphical").find("div#genenames").append('<%= render_img("genenames-normal.png", "normal").html_safe %>')
  $("div#graphical").find("div#genenames").append('<%= render_img("genenames-reduced.png", "reduced").html_safe %>')

  $("div#graphical").find("div#genestructures").append('<%= render_img("genestructures-normal.png", "normal").html_safe %>')
  $("div#graphical").find("div#genestructures").append('<%= render_img("genestructures-reduced.png", "reduced").html_safe %>')

  $("div#graphical").find("div#legend").append('<%= render_img("legend-normal.png", "normal").html_safe %>')
  $("div#graphical").find("div#legend").append('<%= render_img("legend-reduced.png", "reduced").html_safe %>')

  function render_svg_normal_merged() {
    $("div#graphical").find("div#genenames-merged").html('<%= render_svg("#{controller.id}-genenames-normal-merged.svg").html_safe %>')
    $("div#graphical").find("div#genestructures-merged").html('<%= render_svg("#{controller.id}-genestructures-normal-merged.svg").html_safe %>')
  }

  render_svg_normal_merged();

  $("input#standard").prop("checked", true);
  $("img.reduced").toggle();

  $("input#standard").change(function() {
    if ($(this).is(":checked")) {
      $("input#focus_on_common_introns").prop("checked", false);
      $("img.reduced").toggle(false);
      $("img.normal").toggle(true);

      render_svg_normal_merged();
    }
  })

  $("input#focus_on_common_introns").change(function() {
    if ($(this).is(":checked")) {
      $("input#standard").prop("checked", false);
      $("img.normal").toggle(false);
      $("img.reduced").toggle(true);

      $("div#graphical").find("div#genenames-merged").html('<%= render_svg("#{controller.id}-genenames-reduced-merged.svg").html_safe %>')
      $("div#graphical").find("div#genestructures-merged").html('<%= render_svg("#{controller.id}-genestructures-reduced-merged.svg").html_safe %>')
    }
  })

  <% if Dir["#{controller.f_gene_structures}/*.yaml"].length > 20 %>
    $('div#select_genes').css('display', 'inline');
    $('div#placeholder').html('<%= populate_select_genes_modal.html_safe %>');
  <% end %>

  $('div#b_aligned_gene_structures').show('slow');
</script>
