<%  
  # names 
  names_path = controller.build_output_path("genenames-normal.svg")
  merged_names_path = controller.build_output_path("genenames-normal-merged.svg") 

  # normal pattern
  structs_path = controller.build_output_path("genestructures-normal.svg")
  mergend_structs_path = controller.build_output_path("genestructures-normal-merged.svg")
  legend_path = controller.build_output_path("legend-normal.svg")

  names = parse_svg(names_path)
  normal_structs = parse_svg(structs_path)

  merged_names = parse_svg(merged_names_path)
  normal_merged_structs = parse_svg(mergend_structs_path)
  normal_legend = parse_svg(legend_path)

  # reduced pattern
  structs_path = controller.build_output_path("genestructures-reduced.svg")  
  mergend_structs_path = controller.build_output_path("genestructures-reduced-merged.svg")
  legend_path = controller.build_output_path("legend-reduced.svg")

  reduced_structs = parse_svg(structs_path)

  reduced_merged_structs = parse_svg(mergend_structs_path)
  reduced_legend = parse_svg(legend_path)

%>
<div id="svg-upper-wrapper" class="pattern svg-pattern">
  <div class="svg-genenames">
    <%= names.join.html_safe %>
  </div>
  <div id="svg-struct" style="overflow-x:hidden;">
    <div class="normal">
      <%= normal_structs.join.html_safe %>
    </div>
    <div class="reduced">
      <%= reduced_structs.join.html_safe %>
    </div>
  </div>
</div>
<div id="svg-lower-wrapper" class="svg-pattern svg-merged">
  <div class="svg-genenames">
    <%= merged_names.join.html_safe %>
  </div>
  <div id="svg-merged" style="overflow-x:auto;">
    <div class="normal">
      <%= normal_merged_structs.join.html_safe %>
    </div>
    <div class="reduced">
      <%= reduced_merged_structs.join.html_safe %>
    </div>
  </div> 
</div>
<div id="svg-legend-wrapper" class="svg-pattern">
  <div class="normal">
    <%= normal_legend.join.html_safe %>
  </div>
  <div class="reduced">
    <%= reduced_legend.join.html_safe %>
  </div>
</div>

<h4>View Options</h4>
<table class="unstyled">
  <tr>
    <td>
      <%=
        content_tag(:div,
          radio_button_tag("graphical",
            "standard", 
            true, # checked
            :id => "standard"
          ) +
          label_tag('standard', 'Standard', :style => 'padding-left: 5px; padding-right: 20px')
          )
      %>

      <%=
        content_tag(:div,
          radio_button_tag("graphical",
            "focus_on_common_introns", 
            nil, # not checked
            :id => "focus_on_common_introns"
          ) +
          label_tag('focus_on_common_introns', 'Focus on common introns', :style => 'padding-left: 5px; padding-right: 20px')
        )
      %>
    </td>
  <tr>
</table>

<script>

  // scroll footer (= merged pattern) together with structures
  $('#svg-merged').on('scroll', function () {
      $('#svg-struct').scrollLeft($(this).scrollLeft());
  });
  
  // init: hide reduced pattern
  $("div.reduced").hide();

  $("input#standard").change(function() {
    if ($(this).is(":checked")) {
      $("div.normal").toggle(true);
      $("div.reduced").toggle(false);
    }
  });

  $("input#focus_on_common_introns").change(function() {
    if ($(this).is(":checked")) {
      $("div.normal").toggle(false);
      $("div.reduced").toggle(true);
    }
  });

</script>
