<% 
  stats_path = controller.build_output_path("stats.txt")
  patterns_table, names_table, intronpos_table, stats_only_th_table, stats_only_td_table = get_statistics_table(
    stats_path, "stats_patterns_table", "stats_intronpos_table"
  )
%>

<div class="pattern">
  <div class="res_left_col">
    <div id='stats-left' class="res_height res_names">
      <%= names_table.html_safe %>
    </div>
    <table class="additional_pattern">
      <tr>
        <td>&gt;Intron number</td>
      </tr>
    </table>
  </div>

  <div>
    <div id='stats-right' class="res_height res_names" style='padding-left: 10px'>
      <%= patterns_table.html_safe %>
    </div>
    <div id='intron_pos' class="additional_pattern" style='overflow: hidden; padding-left: 10px'>
      <%= intronpos_table.html_safe %>
    </div>
  </div>


  <%= javascript_tag defer: 'defer' do -%>

    // simultaneously scroll up/down, left/right
    $('div#stats-right').on('scroll', function() {
      $('div#stats-left').scrollTop($(this).scrollTop());
      $('div#intron_pos').scrollLeft($(this).scrollLeft());
    });

    $('div#stats-left').on('scroll', function() {
      $('div#stats-right').scrollTop($(this).scrollTop());
    });

   <% end -%>
</div>
<br style="clear:both" />
<div class="clear-fix">
  <%= stats_only_th_table.html_safe%>
</div>
<div id="stats_table" class="res_height">
  <%= stats_only_td_table.html_safe %>
</div>

<script type="text/javascript">
  var row, cell;
  row = $("#stats_intronpos_table")[0].rows[0];
  // insert dummy cells to match scroll-bar of pattern-table
  cell = row.insertCell(-1);
  cell.innerHTML = "&nbsp;"; 

  cell = row.insertCell(-1);
  cell.innerHTML = "&nbsp;";

</script>
