<% 
  std_path = "#{Rails.root}/public/tmp/#{controller.id}-std.txt"
  names_table = get_sequence_names(std_path)
  patterns_table = get_table(std_path,  
    { colgroup_class: "broad_col",
      table_class: "fixed_layout",
     }
  )

  stats_path = "#{Rails.root}/public/tmp/#{controller.id}-stats.txt"
  stats_table, intron_num_table = get_statistics_table(stats_path, 
    {
      colgroup_intron_pos: "broad_col",
      id_stats: "stats_info_table",
      id_intron_pos: "intron_pos_table",
      class_intron_pos: "fixed_layout",
    }
  )
 %>

<div class="pattern">
  <div class="res_left_col">
    <div id='stats-left' class="res_height">
      <%= names_table.html_safe %>
    </div>
    <table class="additional_pattern">
      <tr>
        <td>>Intron number</td>
      </tr>
    </table>
  </div>

  <div>
    <div id='stats-right' class="res_height" style='padding-left: 10px'>
      <%= patterns_table.html_safe %>
    </div>
    <div id='intron_pos' class="additional_pattern" style='overflow: hidden; padding-left: 10px'>
      <%= intron_num_table.html_safe %>
    </div>
  </div>


  <%= javascript_tag defer: 'defer' do -%>

    // simultaneously scroll up/down, left/right
    $('div#stats-right').on('scroll', function() {
      $('div#stats-left').scrollTop($(this).scrollTop());
      $('div#intron_pos').scrollLeft($(this).scrollLeft());
    });

    $('div#stats-left').on('scroll', function() {
      $('div#stats-right').scrollTop($(this).scrollTop());
    });

   <% end -%>
</div>
<br style="clear:both" />
<div id="stats_table" class="clear-fix res_height">
  <%= stats_table.html_safe %>
</div>

<script type="text/javascript">
// TODO: what is this needed for???

  // var tIntronpos = $('table#intron_pos')[0];
  // var tPattern = $('table#stats_non_intron_phase')[0];
  // var rowIntronpos, rowPattern, cellIntronpos, cellPattern;

  // cellIntronpos = rowIntronpos.insertCell(-1); // insert dummy cell
  // cellIntronpos.innerHTML = "&nbsp;";

  // cellIntronpos = rowIntronpos.insertCell(-1); // insert dummy cell
  // cellIntronpos.innerHTML = "&nbsp;";

  // cellPattern = rowPattern.insertCell(-1); // insert dummy cell
  // cellPattern.innerHTML = "&nbsp;";

  // cellPattern = rowPattern.insertCell(-1); // insert dummy cell
  // cellPattern.innerHTML = "&nbsp;";

  // rowPattern.setAttribute("style", "display:none;");


</script>
