<% 
  stats_path = "#{Rails.root}/public/tmp/#{controller.id}-stats.txt"
  names_table, patterns_table, stats_table, intron_num_table = get_statistics_table(
    stats_path, "stats_patterns_table"
  )

 %>

<div class="pattern">
  <div class="res_left_col">
    <div id='stats-left' class="res_height">
      <%= names_table.html_safe %>
    </div>
    <table class="additional_pattern">
      <tr>
        <td>&gt;Intron number</td>
      </tr>
    </table>
  </div>

  <div>
    <div id='stats-right' class="res_height" style='padding-left: 10px'>
      <%= patterns_table.html_safe %>
    </div>
    <div id='intron_pos' class="additional_pattern" style='overflow: hidden; padding-left: 10px'>
      <%= intron_num_table.html_safe %>
    </div>
  </div>


  <%= javascript_tag defer: 'defer' do -%>

    // simultaneously scroll up/down, left/right
    $('div#stats-right').on('scroll', function() {
      $('div#stats-left').scrollTop($(this).scrollTop());
      $('div#intron_pos').scrollLeft($(this).scrollLeft());
    });

    $('div#stats-left').on('scroll', function() {
      $('div#stats-right').scrollTop($(this).scrollTop());
    });

   <% end -%>
</div>
<br style="clear:both" />
<div id="stats_table" class="clear-fix res_height">
  <%= stats_table.html_safe %>
</div>

<script type="text/javascript">
    // hot fix alignment issue of table in Statistics tab
    $($('table.with_border')[1]).children().children().append("<td>&nbsp;</td>");

  var $table = $('table#stats_patterns_table');

  // number of rows
  var n_rows = $table[0].rows.length;

  // number of columns
  var allCells = $table.find('td');
  var n_cols = allCells.length / n_rows;

  // traverse column by column
  function traverse(cells) {
    var intron_col_order = 0;

    for (var x = 0; x < n_cols; x++) {
      var n_introns = 0;

      for (var y = 0; y < n_rows; y++) {
        if (cells[n_cols*y + x].innerHTML != "-") {
          n_introns += 1;
        }
      }

      // // class name based on number of introns in the column
      // var class_name = "col-" + n_introns;

      // for (var y = 0; y < n_rows; y++) {
      //   $(cells[n_cols*y + x]).addClass(class_name);
      // }

      // set class names to interact with phylo tree
      if (n_introns > 0) {
        var class_name = "intron-col-" + intron_col_order;
        for (var y = 0; y < n_rows; y++) {
          $(cells[n_cols*y + x]).addClass(class_name);
        }

        intron_col_order += 1;
      }
    }
  }

  traverse(allCells);

</script>
